.collection-preview {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 30px;
  
    .title {
      font-size: 28px;
      margin-bottom: 25px;
    }
  
    .preview {
      display: flex;
      justify-content: space-between;
    }
  }

@media screen and (max-width:800px) {
  .collection-preview{
    justify-content: center;
    align-items: center;
  }
  .preview {
    flex-direction: column;
  }
}
  