.header {
  
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
  
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 25px;
    }
        .logo {
            height: 100%;
            width: 70px;
        }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 10px 15px;
        cursor: pointer;
      }
    }
  }

@media screen and (max-width:800px) {
  .header {
    justify-content: space-between;
    .options {
      width: 100%;

    }

    .logo-container {
      margin-right: 20px;
      padding: 0;
      
      .logo {
        width: 30px;
      }
    }
  }

}
  